.container-card {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  width: 90%;
  max-width: 200px;
  height: 300px;
  color: #202020;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-picture {
  width: 140px;
  border-radius: 50%;
}

.card h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.card span {
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card .links .i {
  width: 20px;
  margin: 20px 10px;
  color: #202020;
}

.card .links .i:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 2s;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  background: #202020;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 5px;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    transform: translateX(-5px) rotate(-5deg);
  }
  80% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}
