.form-box {
  padding: 40px;
  width: 80%;
}

.input-title {
  font-size: 2em;
  color: #202020;
  text-align: center;
  font-weight: 600;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #202020;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #202020;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:focus ~ label {
  top: -5px;
}

.input-box input {
  width: 85%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.8em;
  color: #202020;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #202020;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9rem;
  color: #202020;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #202020;
  margin-right: 3px;
}

.remember-forgot a {
  color: #202020;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #202020;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #202020;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #202020;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
